name: Kubernetes CD

on:
  workflow_run:
    workflows: ["Java CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: staging

    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v4

      - name: Install kubectl
        uses: azure/setup-kubectl@v4

      - name: Configure kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" | base64 -d > ~/.kube/config


      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml


      - name: Verify Rollout
        run: kubectl rollout status deployment/tictactoe-cli